<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Video Player</title>
  <!-- FontAwesome Free CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body style="background-color: black;">

  <!-- Back button icon -->
  <div>
  <i id="go-back" class="fas fa-chevron-left" style=" font-size: 20px; color: white;"></i>
    </div>
  <!-- Video player iFrame -->
  <iframe style="width: 99vw; height: 93vh;" src='http://localhost:3000/app/https://cdn.ottanalytics.com/99c5393e-b800-4842-8782-344137c8f853/playlist.m3u8?isembed=true' id='dashboard-frame' allowfullscreen frameborder='0'></iframe>

  <!-- Script to handle back button click -->
  <script>
    document.getElementById("go-back").addEventListener("click", () => {
      console.log("click ");
      history.back();
    });
  </script>
</body>
</html>
